@import '../../globalStyles.scss';
header{
    display: flex;
    justify-content: space-between;
    background-color: $grey-0;
    align-items: center;
    height: 60px;
    .icon{
        height: 30px;
    }
    div{
        button{
            border: none;
            background-color: transparent;
            margin: 10px;
        }
    }
}