.div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x:scroll;
    margin-top: 4em;
}
@media screen and (min-width: 800px) {
    .div{
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}